doctype html
html(lang="en")
    head
        //- Metas
        //- ===========================================
        meta(name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0")
        meta(charset="utf-8")

        - var title = "Projeto Front-End Title"
        - var description = "Projeto Front-End Description"

        //- SEO
        meta(name="description" content=description)
        meta(name="robots" content="index,follow")
        title=title

        //- Open Graph
        meta(property="og:type" content="website")
        meta(property="og:title" content=title)
        meta(property="og:description" content=description)
        meta(property="og:url" content="https://csshortcut.github.io/csshortcut-app")
        meta(property="og:image" content="https://csshortcut.github.io/csshortcut-app/assets/img/share.png")

        //- Twitter Cards
        meta(name="twitter:card" content="summary_large_image")
        meta(name="twitter:title" content=title)
        meta(name="twitter:description" content=description)
        meta(name="twitter:url" content="https://csshortcut.github.io/csshortcut-app")
        meta(name="twitter:image" content="https://csshortcut.github.io/csshortcut-app/assets/img/share.png")

        //-  Styles
        //- ===========================================
        link(rel="stylesheet" href="assets/styles/style.css")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css")

        //-  Fonts
        //- ===========================================
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster|Roboto")

    body
        include ./../partials/header.pug

        main
            block content

        include ./../partials/footer.pug

        script(type="text/javascript" src="assets/scripts/script.js" async)